*{
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #f6f8fd;
    --secondary-color: #ffffff;
    --color-text: #0c0c0c;
    --navbar-color: #ffffff;
    --navbar-color-text: #ffffff;
  }
/*STYLE NAVBAR*/
.navbar {
    position: fixed;
    padding: 15px 0 15px 0;
    width: 100%;
    transition: all .2s ease;
    z-index: 9999;
  }

.navbar.color-active {
    background-color: var(--navbar-color);
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #3a6cd751;
}

.navbar .nav-link a {
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    text-decoration: none;
    color:#000000; /*text navbar*/
  }

.navbar .nav-link a:hover {
    color: var(--secondary-color);
  }

.navbar.nav-link.active{
    background-color:#ffffff;
    color: #86c2fb;
}

/*STYLE HOMEPAGE HEADER*/
header  { background: #c6ffdd; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3780c4, #86c2fb, #5dff9e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5b82d6, #6b6bc2, #d0d3ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.homepage .header-box h1 {
    font-size: 3.2rem;
    font-weight: 300;
    color: var(--color-text);
}
  
.homepage .header-box h1 span {
    font-weight: 700;
    font-style: bold;

}

.homepage.header-box p {
    line-height: 2;
    color: var(--color-text);
    font-weight: 500;
}

.homepage.header-box img {
    width: 100px;
}

@media screen and (max-width: 992px) {
    .homepage.header-box{
        padding-top: 8rem;
    }
    .homepage.header-box img{
        width: 400px;
        display: block;
        margin-inline: auto;
    }
}

@media screen and (max-width: 775px) {
    .homepage .header-box{
        padding-top: 8rem;
    }
    
}

@media screen and (max-width: 575px) {
    .homepage .header-box h1 {
        font-size: 3rem;
    }
    
}

@media screen and (max-width: 475px) {
    .homepage .header-box h1 {
        font-size: 2.4rem;
    }
    .homepage .header-box p {
        font-size: 14px;
    }
    .homepage .header-box  img {
        width: 300px;
    }
    
}

@media screen and (max-width: 375px) {
    .homepage .header-box h1{
        font-size: 2rem;
    }

    .homepage .header-box p {
        font-size: 12px;
    }
    
}

/*STYLE HOMEPAGE LIST*/
.homepage .kelas {
    background-color: var(--primary-color);
    padding-bottom: 100px;
}

.homepage .kelas .row:nth-child(1){
    padding-top: 150px;
    padding-bottom: 100px;
}

.homepage .kelas .row:nth-child(1) h1 ,
.homepage .kelas .row:nth-child(1) p {
    color: var(--color-text);
}

.homepage .kelas .row.row:nth-child(2) .col{
    background-color: #ffffff;
    padding: 0;
}

.homepage .kelas .row.row:nth-child(2){
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding-inline: 10px;
}

.homepage .kelas .row.row:nth-child(2) img{
    width: 50vw;
    height: auto;
    object-fit: cover;
}

.homepage .kelas .row.row:nth-child(2) h5{
    color: var(--color-text);
    font-weight: bold;
    line-height: 1.5;
}

.homepage .kelas ,.row.row:nth-child(3) {
    padding-top: 100px;
}


/* FAQ */

.faq{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--primary-color);
}

.faq h2 {
    color: var(--color-text);
}

.faq .accordion .accordion-button {
    color: var(--color-text);
    font-weight: bold;
    background-color: #ffffff;
    line-height: 1.3;
}

.faq .accordion .accordion-button:focus {
    border: none;
    box-shadow: none;
}

.faq .accordion .accordion-body {
    background-color: #ffffff;
}

/* STYLE LIST HARGA */

.kelaz {
    width: 100%;
    padding-top: 100px;
}

.kelaz .row:nth-child(1){
    padding-top: 50px;
   
}



/* STYLE FOOTEr */
.footer{
    width: 100%;
    min-height: 10vh;
}

.footer .row:nth-child(1) .col:nth-child(1) h3{
    color: var(--color-text);
}

.footer  .row:nth-child(1) .col:nth-child(1) desc{
    color: var(--color-text);
    font-size: 14px;
    line-height: 2;

}

.footer .no a,
.footer .mail a {
    display: flex;
    align-items: center;
    color: #000000;
    column-gap: 5px;
}

.footer .no a :hover,
.footer .mail a :hover {
   color: #5b82d6;
}

.footer {background: #c6ffdd; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3780c4, #86c2fb, #5dff9e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5b82d6, #6b6bc2, #d0d3ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.footer .row.row:nth-child(1) .col:nth-child(2){
    gap: 10px;
}

.footer .row.row:nth-child(1) .col:nth-child(2) a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.footer .row.row:nth-child(1) .col:nth-child(2) a:hover {
    color: #f6f8fd;
}
   
.footer .row.row:nth-child(2) {
    margin-top: 100px;
}